# Betriebssysteme
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
feeds_2026-06-22.opml.xml

# Editoren & IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.swp
*.swo

# Build-Artefakte & Logdateien
build/
dist/
out/
*.log
*.sqlite

# Temporäre Dateien
*.tmp
*.temp
